#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Nunito', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


body.niveis-page-body #root {
  max-width: none;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

body.admin-body {
  /* Removemos o comportamento de centralizar do index.css */
  display: block;
  place-items: unset;
  min-width: 0;
}

/* ...forçamos o #root a ocupar 100% da tela sem margens */
body.admin-body #root {
  max-width: none;      /* Remove o limite de 1280px */
  margin: 0;            /* Remove a margem automática */
  padding: 0;           /* Remove o padding de 2rem */
  width: 100%;          /* Ocupa a largura total */
  height: 100%;         /* Ocupa a altura total */
  text-align: left;     /* Painéis geralmente alinham texto à esquerda */
}


/* Customização do Driver.js para o tema Dark/Roxo */
.driverjs-theme .driver-popover {
  background-color: #2b1b38; /* Fundo Roxo Escuro */
  color: #ffffff;
}

.driverjs-theme .driver-popover-title {
  font-size: 1.2rem;
  color: #15d2a3; /* Verde Neon */
}

.driverjs-theme .driver-popover-description {
  color: #474747;
}

.driverjs-theme .driver-popover-footer button {
  background-color: #15d2a3; /* Botão Verde */
  color: #000;
  text-shadow: none;
  border: none;
}

.driverjs-theme .driver-popover-footer button:hover {
  background-color: #12b88e;
}

body.creditos-page-body #root {
  max-width: none;      /* Remove o limite de 1280px */
  margin: 0;            /* Remove a margem automática */
  padding: 0;           /* Remove o padding de 2rem */
  width: 100vw;         /* Ocupa a largura total da viewport */
  height: 100vh;        /* Ocupa a altura total da viewport */
  display: block;       /* Remove display flex/grid se houver */
  overflow: hidden;     /* O scroll será interno do container de créditos */
}